
<style>
  .vertical-text {
  transform: rotate(270deg);
  transform-origin: left bottom 0;
  position: relative;
  top:290px;
  float:left;
}

@media only screen and (max-width: 650px) {
  .vertical-text {
    display:none;
  }
}
</style>


<div ng-if="predictions" class="jumbotron" style="">
  <span class="vertical-text">Predicted AQI</span>
  <h2 class="text-center">Beijing pollution for the next 10 days</h2><br>
  <linechart data="predictions" options="options" mode="" width="" height="500"></linechart><br><br>
  <p>Latest: {{currently}} on {{updatedAt | date: 'EEEE, MMM d @ h a'}}</p>
  <small>Beijingers: the model is much more accurate for predicting low pollution values than high ones. See the <a href="#/about">about</a> section for details.</small>
</div>


<h4 ng-hide="predictions" class="text-center">Rubbing crystal ball ...</h4>

<table class="table table-bordered table-condensed" ng-if="predictions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Projected AQI</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in predictions">
      <td>{{obj.date | date: 'EEEE, MMM d @ h a'}}</td>
      <td>{{obj.pollution | number:0}}</td>
      <td ng-style="{{changeColor(obj.pollution)}}"></td>
    </tr>
  </tbody>
</table>
