

<!--div linear-chart chart-data="predPromise"></div-->

<!--linechart data="predictions" options="options" mode="" width="" height=""></linechart-->

<div ng-if="data">
  <h3 class="text-center">Beijing pollution for the next 10 days</h3>
  <linechart ng-if="data" data="data" options="options" mode="" width="" height="500"></linechart>
</div>


<h4 ng-hide="predictions" class="text-center">Rubbing crystal ball ...</h4>


<table class="table table-bordered table-condensed" ng-if="predictions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Projected AQI</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in predictions">
      <td>{{obj.t}}</td>
      <td>{{obj.p | number:0}}</td>
    </tr>
  </tbody>
</table>
